<!--!
Table style account/user list.

Arguments:
 - accounts:
 - delete_enabled:
 - cls:
 - cols:
-->
<div id="accountlist">
    <table class="${cls}" id="accountlist">
        <thead>
        <tr>
            # if delete_enabled
                <th class="sel">&nbsp;</th>
            # endif
            <th>Account</th>
            # if 'name' in cols
                <th>Name</th>
            # endif
            # if 'email' in cols
                <th>Email</th>
            # endif
            <th>Last Login</th>
        </tr>
        </thead>
        <tbody>
            # for account in accounts
                <tr${{'class': loop.cycle('odd', 'even') + (account.approval and ' missing' or ''),
                      'title': account.approval and
                               ('email' in account.approval and
                                 dgettext('acct_mgr', 'Email not verified') or
                                 acct.approval[0] == 'pending' and
                                 dgettext('acct_mgr', 'Approval pending') or
                                 acct.approval[0] == 'revoked' and
                                 dgettext('acct_mgr', 'Approval revoked')
                               ) or None}|htmlattr}>
                    # if delete_enabled
                        <td class="sel">
                            <input type="checkbox" name="sel"
                                   value="${account.username}" />
                        </td>
                    # endif
                    <td>
                        <a href="${account.url}">${account.username}</a>
                        <!--! Additional account status icons -->
                        # if account.locked
                            # if account.release_hint
                                <img src="${href.chrome('/acct_mgr/time-locked.png')}"
                                     alt="Account locked" title="${account.release_hint}" />
                            # else
                                <img src="${href.chrome('/acct_mgr/locked.png')}"
                                     alt="Permanently locked"
                                     title="${dgettext('acct_mgr', 'Permanently locked')}" />
                            # endif
                        # endif
                    </td>
                    # if 'name' in cols
                     <td>${account.name}</td>
                    # endif
                    # if 'email' in cols
                        <td>
                            # if not account.email or account.email.endswith('…')
                                ${account.email}
                            # else
                                <a href="mailto:$account.email" title="Send email">
                                    ${account.email}</a>
                            # endif
                        </td>
                    # endif
                    <td>${account.last_visit and pretty_dateinfo(account.last_visit) or ''}</td>
                </tr>
            # endfor
        </tbody>
    </table>
</div>
