# extends 'layout.html'

<!DOCTYPE html>
<html>
<head>
    <title>
        # block title
        ${_("Verify Email")}
        # endblock title
    </title>
    # block head

    ${ super() }

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('#token').focus();
        });
    </script>

    # endblock head
</head>

<body>
# block content

<div id="content" class="verify_email">

    <h1>Verify Email</h1>

    <p class="help">An email was sent to
        ${req.session.email} with a token to verify your new address.
        Please check your email and enter the token in the form below.</p>
    <p>You can <a href="${href.prefs()}">change your
        email address</a>, if it is incorrect.</p>

    <form method="post" action="" id="acctmgr_verify_email">
        ${jmacros.form_token_input()}

        <div>
            <label for="token">Verification Token:</label>
            <input type="text" id="token" name="token" class="textwidget"
                   size="10" ${ {'value': token if token is defined }|htmlattr} />
        </div>
        <div class="buttons central nav">
            <input type="submit" name="verify" ${ button_state|htmlattr }
                   value="${dgettext('acct_mgr', 'Verify')}" />
            <input type="submit" name="resend" ${ button_state|htmlattr }
                   value="${dgettext('acct_mgr', 'Resend Email')}" />
        </div>
    </form>

</div>
# endblock content

</body>
</html>
